<tr>
	{{>answer_header}}
</tr>
<tr>
	<td bgcolor="#ffffff">
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
				<td style="color: #153643; font-family: Arial, sans-serif; font-size: 24px; padding: 20px 0 30px 0;">
					<strong>Hello, {{ name }}</strong>
				</td>
			</tr>
			<tr>
				<td style="color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 22px;">
					<p>Your answer has been answerd!</p>
				</td>
			</tr>
			<tr>
				<td style="color: #153643; font-family: Arial, sans-serif; font-size: 22px; line-height: 20px; padding: 20px 0 30px 0;">
					<strong>Question: </strong> {{question}} <br />
					<strong>Answer: </strong> {{answer}} <br />
					<strong>Answerd at: </strong> {{answer_date}} <br />
				</td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<td bgcolor="#ee4c50">
		{{> footer}}
	</td>
</tr>

